<h1>Login page</h1>
<form action="Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Login</button>
</form>