<h1>Register page</h1>
<form action="Register" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Register</button>
</form>