@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <button onclick="signIn()">SignIn</button>
</div>

<div class="text-center">
    <button onclick="signOut()">SignOut</button>
</div>

<div>
    <button onclick="callApi()">Call Api</button>
    <button onclick="extractTokens(window.location.href);">ExtractToken</button>
</div>
